* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-color: hsl(30, 54%, 90%);
    font-family: "Figtree", sans-serif;
    font-weight: 200;
}

main {
    max-width: 800px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    gap: 2rem;
    color: hsl(24, 5%, 18%)
}
img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 2rem;
}
h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}
strong {
    font-weight: 600;
}
hr{
    border: none;
    height: 1px;
    background-color: hsl(0, 0%, 80%);
    margin: 1.5rem 0;
}
.title-omelette{
    color: black;
}
.box-prep-time{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: hsl(330, 100%, 98%);
    padding: 2rem;
    border-radius: 10px;
}
.box-prep-time > h3 {
    color:  hsl(332, 51%, 32%);
    margin-bottom: 0.5rem;
}
.box-prep-time > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
}

.box-ingredients {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box-ingredients > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}
.box-ingredients > ul > li,
.box-prep-time > ul > li,
.box-instructions > ul > li {
    color:  hsl(332, 51%, 32%);
}
.box-ingredients > ul > li > span,
.box-prep-time > ul > li > span,
.box-instructions > ul > li > span {
    margin-left: 1rem;
    color:  hsl(0, 0%, 0%);
}

.box-instructions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.box-instructions > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
}
.box-instructions > ul > li {
    list-style-type: decimal;
    padding-left: 1.5rem;
    text-indent: -1rem;
    line-height: 1.5;
}
.box-nutrition {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.table {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 0.5rem;
}

.table-column {
    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    padding-bottom: 0.5rem;
}

.table-column p {
  margin-bottom: 0.5rem;
  margin-left:2rem;
}

.qnt {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
    text-align: left;
}
